* {
  margin: 0;
  padding: 0;
}
.App {
  height: 1000vh;
  width: 99vw;
}
.Head {
  width: 99vw;
  height: 15vh;
  background-color: none;
  display: flex;
  align-items: center;
  border-bottom: silver solid 0.5px;
}
.home {
  background-image: url("https://xsoft.mn/images/bg.jpg");
  width: 99vw;
  height: 100vh;
}
.homeD {
  background-image: linear-gradient(
    260deg,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0.637)
  );
  width: 99vw;
  height: 100vh;
}
.imgL {
  height: 50px;
  width: 50px;
  margin-top: 20px;
  margin-left: 15px;
}
.imgF {
  height: 25px;
  width: 35px;
  margin-left: 2vw;
  transition: 0.2s;
}
.imgF:active {
  transform: scale(0.95);
}
.btnS {
  background: none;
  border: none;
  width: 10%;
  height: 90%;
  font-size: 150%;
  color: white;
  transition: 0.2s;
  margin-top: 20px;
  text-shadow: 0px 0px 5px black;
}
.btnS:hover {
  font-size: 300%;
}
.btnS:active {
  transform: scale(0.95);
}
.btnH {
  background: none;
  border: none;
  width: 10%;
  height: 90%;
  font-size: 150%;
  color: white;
  transition: 0.2s;
  margin-top: 20px;
  text-shadow: 0px 0px 5px black;
}
.btnH:hover {
  font-size: 300%;
}
.btnH:active {
  transform: scale(0.95);
}
.btnA {
  background: none;
  border: none;
  width: 10%;
  height: 90%;
  font-size: 150%;
  color: white;
  transition: 0.2s;
  margin-top: 20px;
  text-shadow: 0px 0px 5px black;
}
.btnA:hover {
  font-size: 300%;
}
.btnA:active {
  transform: scale(0.95);
}
.btnB {
  background: none;
  border: none;
  width: 10%;
  height: 90%;
  font-size: 150%;
  color: white;
  transition: 0.2s;
  margin-top: 20px;
  text-shadow: 0px 0px 5px black;
}
.btnB:hover {
  font-size: 300%;
}
.btnB:active {
  transform: scale(0.95);
}
.Cbtn {
  margin-left: 40vw;
  height: 5vh;
  width: 6%;
  background-color: dodgerblue;
  border: white 0.2px;
  font-size: 100%;
  color: white;
  transition: 0.2s;
}
.Cbtn:active {
  transform: scale(0.95);
  background-color: rgb(99, 164, 230);
}
.XLLC {
  font-size: 500%;
  margin-left: 100px;
  margin-top: 100px;
  margin-bottom: 50px;
  color: white;
  text-shadow: 0px 0px 5px black;
}
.Xp {
  font-size: 250%;
  margin-left: 100px;
  color: white;
  text-shadow: 0px 0px 5px black;
}
.homeE {
  width: 80vw;
  height: 10vh;
  margin-left: 10vw;
  margin-top: 30vh;
  border-top: silver solid 0.5px;
  border-bottom: silver solid 0.5px;
  border-radius: 20px;
  display: flex;
  justify-content: space-around;
  box-shadow: rgb(58, 57, 57) 0px 0px 10px 0px;
}
.imgS {
  width: 100px;
  height: 100%;
}
.service {
  width: 99vw;
  height: 100vh;
  margin-top: 50px;
  border-top: rgb(180, 0, 180) solid 2px;
}
.ser {
  text-align: center;
  font-size: 300%;
  color: rgb(187, 0, 187);
  margin-top: 50px;
}
.conserT {
  text-align: center;
  font-size: 300%;
  color: black;
}

.UIM {
  width: 99vw;
  height: auto;
  display: flex;
  justify-content: space-around;
  border-bottom: 2px black solid;
}
.UI1 {
  width: 30%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.UI {
  font-size: 400%;
  margin-top: 40px;
  margin-bottom: 30px;
  border-bottom: 1px black solid;
  border-radius: 10px;
}
.UIt {
  font-size: 150%;
  margin-top: 10px;
}
.UIi {
  height: 40vh;
  width: 100%;
  padding-bottom: 50px;
  border-bottom: 1px black solid;
}
.UIC {
  width: 99vw;
  height: auto;
  border-bottom: 2px black solid;
  justify-content: space-around;
  display: flex;
  margin-top: 40px;
}
.React {
  width: 45%;
  height: 40vh;
  background-color: aqua;
  background-image: url("https://www.techrepublic.com/wp-content/uploads/2022/06/webstorm-vs-vscode.jpeg");
}
.RI {
  width: 50%;
  height: 100%;
}
.RB {
  height: 100%;
  width: 100%;
  background-color: rgba(20, 71, 122, 0.849);
  display: flex;
  align-items: center;
  border-bottom: cyan solid 1px;
}

.RP {
  color: cyan;
  font-size: 350%;
  margin-left: 20px;
  margin-bottom: 15px;
}
.RT {
  color: cyan;
  font-size: 100%;
  text-align: justify;
  margin-left: 20px;
  margin-right: 20px;
}
.NB {
  height: 100%;
  width: 100%;
  background-color: rgba(129, 21, 21, 0.849);
  display: flex;
  align-items: center;
  border-bottom: rgb(255, 0, 85) solid 1px;
}
.NP {
  color: rgb(255, 0, 85);
  font-size: 350%;
  margin-left: 20px;
  margin-bottom: 15px;
}
.NT {
  color: rgb(255, 0, 85);
  font-size: 100%;
  text-align: justify;
  margin-left: 20px;
  margin-right: 20px;
}
.R {
  width: 50%;
}
.NNB {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.39);
  display: flex;
  align-items: center;
  border-bottom: rgb(0, 0, 0) solid 1px;
}
.NNP {
  color: silver;
  font-size: 350%;
  margin-left: 20px;
  margin-bottom: 15px;
}
.NNT {
  color: silver;
  font-size: 100%;
  text-align: justify;
  margin-left: 20px;
  margin-right: 20px;
}
.JB {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 128, 0, 0.37);
  display: flex;
  align-items: center;
  border-bottom: rgb(0, 0, 0) solid 1px;
}
.JP {
  color: rgb(69, 172, 69);
  font-size: 350%;
  margin-left: 20px;
  margin-bottom: 15px;
}
.JT {
  color: rgb(77, 182, 77);
  font-size: 100%;
  text-align: justify;
  margin-left: 20px;
  margin-right: 20px;
}
.FB {
  height: 100%;
  width: 100%;
  background-image: linear-gradient(
    rgba(255, 123, 0, 0.5),
    rgba(128, 0, 128, 0.4),
    rgba(0, 128, 0, 0.4)
  );
  display: flex;
  align-items: center;
  border-bottom: rgb(0, 0, 0) solid 1px;
}
.FP {
  color: rgb(255, 135, 135);
  font-size: 350%;
  margin-left: 20px;
  margin-bottom: 15px;
}
.FT {
  color: dodgerblue;
  font-size: 100%;
  text-align: justify;
  margin-left: 20px;
  margin-right: 20px;
}
.PB {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 110, 255, 0.322);
  display: flex;
  align-items: center;
  border-bottom: rgb(0, 0, 0) solid 1px;
}
.PP {
  color: cyan;
  font-size: 350%;
  margin-left: 20px;
  margin-bottom: 15px;
}
.PT {
  color: cyan;
  font-size: 100%;
  text-align: justify;
  margin-left: 20px;
  margin-right: 20px;
}
.About {
  width: 99vw;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 200px;
  margin-top: 50px;
}
.als {
  width: 60vw;
  height: 50vh;
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.als-T {
  text-align: center;
  font-size: 300%;
  margin-bottom: 50px;
}
.als-TT {
  text-align: center;
  font-size: 150%;
  text-align: justify;
  margin-right: 50px;
}
.Text {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.als-img {
  width: 50%;
  height: 100%;
}
.project {
  width: 99vw;
  height: 100vh;
}
.dashwaanjil {
  width: 99vw;
  height: 90vh;
  display: flex;
  margin-top: 50px;
  border-bottom: solid black 2px;
}
.dash {
  background-image: url("https://mlsp.gov.mn/uploads/6a92da16e4b0801db4fe3b774b85e56d.PNG");
  width: 30vw;
  height: 80vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-left: 2vw;
  margin-top: 5vh;
}
.dashf {
  background-image: url("https://i1.sndcdn.com/artworks-000064870105-lhonl5-t500x500.jpg");
  width: 30vw;
  height: 80vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-left: 2vw;
  margin-top: 5vh;
}
.dashg {
  background-image: url("https://mnb.mn/uploads/202207/news/thumb/edba145640115abdcb941edb27dcecdd_x3.jpg");
  width: 30vw;
  height: 80vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-left: 2vw;
  margin-top: 5vh;
}
.dashw {
  background-color: rgba(0, 0, 0, 0.712);
  width: 30vw;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.dash-logo {
  height: 300px;
  width: 300px;
}
.dashT {
  font-size: 250%;
  color: white;
}
.dashTi {
  font-size: 200%;
  color: rgb(77, 77, 77);
}
.TT {
  height: 40%;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
}
.contact {
  margin-top: 50px;
}
.from {
  width: 25vw;
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  box-shadow:0px 0px 10px 5px silver ;
}
.from > input {
  margin-top: 30px;
  width: 60%;
  height: 8%;
  padding: 10px 20px;
  box-shadow: 0px 0px 10px 5px silver;
  border: none;
}
.from > textarea {
  margin-top: 30px;
  width: 60%;
  height: 20%;
  padding: 10px 20px;
  box-shadow: 0px 0px 10px 5px silver;
}
.from > button {
  margin-top: 30px;
  width: 40%;
  height: 10%;
  font-size: 200%;
  background-color: dodgerblue;
  color: white;
  border: none;
  transition: 0.2s;
}
.from > button:active {
  transform: scale(0.95);
  background-color: rgb(20, 82, 145);
}
.con-m {
  width: 99vw;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.info {
  font-size: 200%;
}
.unfou {
  display: flex;
}
.infoc {
  display: flex;
}
.infoh {
  display: flex;
}
.ulan {
  color: silver;
}
.con {
  color: silver;
}
.n {
  color: silver;
}
.conser {
  text-align: center;
  font-size: 300%;
  color: black;
  margin-top: 100px;
}
.btnop{
  width: 5vw;
  height: 30%;
  background-color: dodgerblue;
  color: white;
  padding: 5px 5px ;
  margin-left: 30px;
}
.btnop:active{
  background-color: rgb(119, 179, 243);
}
.btnop>*>:hover{
  background-color: rgb(27, 98, 170);
}
#imgo{
  margin-top: 5px;
  width: 2vw;
  height: 50%;
}

#imgop{
  margin-top: 5px;
  width: 2vw;
  height: 50%;
}